<h1>Listing <%= pluralize(@tasks.count, "task") %></h1>

<table>
  <tr>
    <th>Id</th>
    <th>Deadline</th>
    <th>Assignee</th>
    <th>Phone</th>
    <th>State</th>
    <th>SMS state</th>
    <th>Last message</th>
    <th colspan="3"></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= l(task.deadline, :format => :default) %></td>
      <td><%= task.assigned_name %></td>
      <td><%= task.assigned_phone %></td>
      <td><%= task.state %></td>
      <td><%= task.last_message_state %></td>
      <td><%= task.last_message ? task.last_message.gsub(/(\r)?\n/, "<br />").html_safe : "" %></td>
      <td>
        <%= link_to 'Show', task, :class => "btn" %>
        <%= link_to 'Edit', edit_task_path(task), :class => "btn" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
        <%= link_to 'SMS', sms_task_path(task), :class => "btn" %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

